<!--
// INFO
	Developers: Calista Dominitz and Matthew Beitler
	Project: Personal outfit manager
    Class: CS 340

// Citation
    Citation for html structure / style
    Date: 8/13/2023
    Based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app
    Type: source code
    Authors (github usernames):
        gkochera
        Cortona1
        currym-osu
        dmgs11
-->

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<h1>Your Personal Outfit Manager</h1>
<nav>
    <a href="/">Home</a> | <a href="users">Users</a> 
    | <a href="outfits">Outfits</a> | <a href="tops">Tops</a> 
    | <a href="bottoms">Bottoms</a> | <a href="shoes">Shoes</a> 
    | <a href="jackets">Jackets</a> | <a href="accessories">Accessories</a> 
    | <a href="occasions">Occasions</a> | <a href="outfitsAccessories">Outfits with Accessories</a> 
    | <a href="outfitsOccasions">Outfits for Occasions</a>
</nav>
<body>

    {{{body}}}

</body>
</html>