<!--
// INFO
	Developers: Calista Dominitz and Matthew Beitler
	Project: Personal outfit manager
    Class: CS 340

// Citation
    Citation for html structure / style
    Date: 8/13/2023
    Based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app
    Type: source code
    Authors (github usernames):
        gkochera
        Cortona1
        currym-osu
        dmgs11
-->

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title> Homepage </title>
	</head>

	<body>
        <H2>Homepage</H2>
        <p>
            This website is a personal outfit manager where users can create an account that holds a digital collection of their closet. 
            Since each account is for a single user, we are expecting somewhere between 100-200 items of clothing/accessories per account. 
            The user can add their tops, bottoms, shoes, jackets, and accessories as individual items. They can then use these different 
            items to create outfits. These outfits may also be linked to specific occasions where the outfit might be worn.
        </p>
        <table>
            <tbody>
                <tr align="left">
                    <th>Page Name</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td><strong>Users</strong></td>
                    <td>Display and add users to the database</td>
                </tr>
                <tr>
                    <td><strong>Outfits</strong></td>
                    <td>Create, edit, add, and delete outfits from your wardrobe</td>
                </tr>
                <tr>
                    <td><strong>Tops</strong></td>
                    <td>Display and add tops to your wardrobe</td>
                </tr>
                <tr>
                    <td><strong>Bottoms</strong></td>
                    <td>Display and add Bottoms to your wardrobe</td>
                </tr>
                <tr>
                    <td><strong>Shoes</strong></td>
                    <td>Display and add Shoes to your wardrobe</td>
                </tr>
                <tr>
                    <td><strong>Shoes</strong></td>
                    <td>Display and add Shoes to your wardrobe</td>
                </tr>
                <tr>
                    <td><strong>Jackets</strong></td>
                    <td>Display and add Jackets to your wardrobe</td>
                </tr>
                <tr>
                    <td><strong>Accessories</strong></td>
                    <td>Display and add Accessories to your wardrobe</td>    
                </tr>
                <tr>
                    <td><strong>Occasions</strong></td>
                    <td>Display and add Occasions to your wardrobe</td>
                </tr>
                <tr>
                    <td><strong>OutfitsAccessories</strong></td>
                    <td>Intersection table for Outfits and Accessories, can view and add</td>
                </tr>
                <tr>
                    <td><strong>OutfitsOccasions</strong></td>
                    <td>Intersection table for Outfits and Accessories, can view and add</td>
                </tr>
            </tbody>
        </table>
	</body>
</html>